<form action='/posts' method='post'>
	<label>New Post</label>
	<br>

	<label for='title'>Title:</label>
	<input type='text' name='post[title]'>
	<br>

	<label for='content'>Content:</label>
	<input type='text' name='post[content]'>
	<br>

	<input type='submit'>
</form>